# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vscode*
opencode.json
src-tauri/.fastembed_cache*
temp_insert.py
src-tauri/resources/ocr
.claude/settings.local.json
src-tauri/resources/models/base/phi-3-mini-4k-instruct-q5_k_m.gguf
.agent/tasks/model_distillation_ui_refinement.md
scripts/download-model-git.ps1
scripts/download-model.bat
scripts/download-model.ps1
scripts/MODELS.md
src-tauri/resources/models/base/facebook-opt-125m/.gitattributes
src-tauri/resources/models/base/facebook-opt-125m/config.json
src-tauri/resources/models/base/facebook-opt-125m/flax_model.msgpack
src-tauri/resources/models/base/facebook-opt-125m/generation_config.json
src-tauri/resources/models/base/facebook-opt-125m/LICENSE.md
src-tauri/resources/models/base/facebook-opt-125m/merges.txt
src-tauri/resources/models/base/facebook-opt-125m/pytorch_model.bin
src-tauri/resources/models/base/facebook-opt-125m/README.md
src-tauri/resources/models/base/facebook-opt-125m/special_tokens_map.json
src-tauri/resources/models/base/facebook-opt-125m/tf_model.h5
src-tauri/resources/models/base/facebook-opt-125m/tokenizer_config.json
src-tauri/resources/models/base/facebook-opt-125m/vocab.json
